@media screen { /* Стиль для отображения в браузере */
    body {
        font-family: Arial, Verdana, sans-serif;
        font-size: 16pt; 
        font-weight: 200;
        color: #333333; 
        /* width: 1280px; */
        margin: 0 0 0 0;
    }
    h1 {
        font-size: 60pt;
        color: #fff; 
        font-weight: 200;
        margin: 0 0 0 0;
        padding: 50px 0px 40px 50px;
    }
    
    h2 {
        font-size: 30pt;
        color: #445161;
        font-weight: 200;
        text-align: center;
        margin: 0 0 0 0;
        padding: 0px 50px 30px 50px;
    }

    h2.inversed {
        font-size: 30pt;
        font-weight: 200;
        text-align: center;
        color: #445161;
        margin: 0 0 0 0;
        padding: 0px 50px 30px 50px;
    }

    h2.left {
        text-align: left;
    }

    h3 {
        font-size: 24pt;
        font-weight: 200;
        color: #445161;
        margin: 0 0 0 0; 
        padding: 0px 50px 24px 50px;
    }

    h3.inversed {
        font-size: 24pt;
        font-weight: 200;
        color: #fff; 
        margin: 0 0 0 0;
        padding: 0px 50px 24px 50px;
    }

    P {
        margin: 0 0 0 0;
        padding: 0px 50px 16px 50px;
        
    }


    ul.header {
        color: #fff;
        font-size: 20pt;
        list-style-image: url(img/check_icon.png);
        padding: 0px 0px 0px 80px;
    }

    /*
    li {
        padding: -16px 20px 0 20px;
    }
*/

    /* style for pluses list */
    .pluses_list {
    list-style-type: none;
    margin-left:0px;
    padding-left:0px;
    display:table;
    }
    .pluses_list img,
    .pluses_list p {
    text-align: left;
    display: table-cell;
  vertical-align:middle;
    padding: 0 5px 0 10px;
    }

    /* style for screenshots */
    .service-list {
    list-style-type: none;
    margin-left:0px;
    padding-left: 0px;
    display: inline-block;
    }    

    .service-list img
    {
    float:left;
    }
    
    .service-list h3 {
    text-align: left; 
    display:inline-block;
    }

    .service-list img p {
        text-align: left;
        padding-left: 50px;
    }


    #row_dark {
        background-color: #445162;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #row_dark.header {
        background-color: #445162;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 50px;
    }

    #row_light {
        background-color: #f5f5f5;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #row_white {
        background-color: #fff;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #wrapper {
        display: flex;
    }

    #left {
        width: 50%;
        margin-left: 50px;
    }

    #right {
        width: 50%;
        margin-right: 50px;
    }

    #img_right {
        float: right;
        margin: 0 50px 0 50px;
    }

    #img_right_header {
        float: right;
        margin: 50px 50px 0 50px;
    }

   }